<!DOCTYPE html>
<style type="text/css">
    div {
        background-color: darkturquoise;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница №2</title>
</head>
<body>
<div>
    <p id="content"></p>
    <h1 align="center">ЭТО КЛАССНАЯ СТРАНИЦА! Тут даже Шрек есть</h1>
    <p align="center"><a href="http://127.0.0.1:8000/index/">обратно</a></p>

        <iframe align="center"
                width="1730"
                height="683"
                src="https://www.youtube.com/embed/6hEJHb0oQtE?autoplay=1&loop=1&mute=1&playlist=6hEJHb0oQtE"
                allowfullscreen>
        </iframe>
</div>
</body>
</html>